<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {{> nav }}
    {{> login-modal }}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Market Systems - v3</h1>
                        <h2>Trading platform for stocks, crypto and forex currencies</h2>
                        <h3><a class="page-scroll" data-toggle="modal" data-target="#login-modal">Sign Up</a> for free and you get:</h3>
                            <ul class="positives_list">
                              <li>Unlimited Alerts on stocks, cryptocurrencies, and forex</li>
                            </ul>
                        </ul>
                        <a href="#contact" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Market Systems v3 - 2019</p>
        </div>
    </footer>